<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tematica | Generos Musicales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" />
</head>
<body>



    <nav class="nav">
        <ul class="ul-nav">
            <li><a href="../index.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.707 2.293l9 9c.63 .63 .184 1.707 -.707 1.707h-1v6a3 3 0 0 1 -3 3h-1v-7a3 3 0 0 0 -2.824 -2.995l-.176 -.005h-2a3 3 0 0 0 -3 3v7h-1a3 3 0 0 1 -3 -3v-6h-1c-.89 0 -1.337 -1.077 -.707 -1.707l9 -9a1 1 0 0 1 1.414 0m.293 11.707a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883 -.993l.117 -.007z" /></svg> Inicio</a>
            <li><a href="../views/tematica.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-headphones"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M21 18a3 3 0 0 1 -2.824 2.995l-.176 .005h-1a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-3a3 3 0 0 1 2.824 -2.995l.176 -.005h1c.351 0 .688 .06 1 .171v-.171a7 7 0 0 0 -13.996 -.24l-.004 .24v.17c.25 -.088 .516 -.144 .791 -.163l.209 -.007h1a3 3 0 0 1 2.995 2.824l.005 .176v3a3 3 0 0 1 -2.824 2.995l-.176 .005h-1a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-6a9 9 0 0 1 17.996 -.265l.004 .265v6z" /></svg> Tematica</a></li>
            <li><a class="icon-active" href="../views/acerca.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon-active icon icon-tabler icons-tabler-filled icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.088 4.82a10 10 0 0 1 9.412 .314a1 1 0 0 1 .493 .748l.007 .118v13a1 1 0 0 1 -1.5 .866a8 8 0 0 0 -8 0a1 1 0 0 1 -1 0a8 8 0 0 0 -7.733 -.148l-.327 .18l-.103 .044l-.049 .016l-.11 .026l-.061 .01l-.117 .006h-.042l-.11 -.012l-.077 -.014l-.108 -.032l-.126 -.056l-.095 -.056l-.089 -.067l-.06 -.056l-.073 -.082l-.064 -.089l-.022 -.036l-.032 -.06l-.044 -.103l-.016 -.049l-.026 -.11l-.01 -.061l-.004 -.049l-.002 -.068v-13a1 1 0 0 1 .5 -.866a10 10 0 0 1 9.412 -.314l.088 .044l.088 -.044z" /></svg> Acerca</a> </li>
            <li><a href="../views/contacto.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-mail-opened"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14.872 14.287l6.522 6.52a2.996 2.996 0 0 1 -2.218 1.188l-.176 .005h-14a2.995 2.995 0 0 1 -2.394 -1.191l6.521 -6.522l2.318 1.545l.116 .066a1 1 0 0 0 .878 0l.116 -.066l2.317 -1.545z" /><path d="M2 9.535l5.429 3.62l-5.429 5.43z" /><path d="M22 9.535v9.05l-5.43 -5.43z" /><path d="M12.44 2.102l.115 .066l8.444 5.629l-8.999 6l-9 -6l8.445 -5.63a1 1 0 0 1 .994 -.065z" /></svg> Contacto</a></li>
        </ul>
    </nav>

    <main class="container details-section">
        <section class="title-sections">
            <h2>Datos especificos e interesantes de los distintos generos musicales</h2>
        </section>

        <details>
            <summary>Origen de los generos musicales</summary>
            <div class="content-summary">
                <p>
                    Los géneros musicales han surgido a lo largo de la historia en diferentes partes del mundo, evolucionando con
                    influencias culturales, tecnológicas y sociales. Cada género tiene un contexto histórico específico, desde el
                    jazz de principios del siglo XX en Nueva Orleans hasta el reggaetón que emergió en Puerto Rico en los años 90.
                </p>
            </div>
        </details>
        <details>
            <summary>Características de los generos musicales</summary>
            <div class="content-summary">
                <p>
                    Cada género musical se define por una combinación única de elementos como el ritmo, la melodía, la armonía, los instrumentos utilizados, y el tipo de letras. Por ejemplo, el rock es conocido por su uso de guitarras eléctricas y baterías, mientras que el jazz es famoso por la improvisación y complejas estructuras armónicas.
                </p>
            </div>
        </details>
        <details>
            <summary>Influencia Cultural</summary>
            <div class="content-summary">
                <p>
                    Los géneros musicales no solo representan estilos de música, sino que también han sido motores de movimientos sociales y culturales. El rock, por ejemplo, ha estado asociado con la contracultura de los años 60, mientras que el hip-hop ha sido una voz importante para la juventud urbana y las comunidades marginadas.
                </p>
            </div>
        </details>
        <details>
            <summary>Subgéneros y Fusión</summary>
            <div class="content-summary">
                <p>
                    A lo largo del tiempo, muchos géneros han dado lugar a subgéneros y fusiones. Esto refleja la naturaleza dinámica de la música, que constantemente se reinventa y mezcla diferentes influencias. Por ejemplo, el pop ha dado lugar a variantes como el electropop y el synth-pop, mientras que el rock ha generado subgéneros como el punk y el grunge.
                </p>
            </div>
        </details>
        <details>
            <summary>Impacto Global</summary>
            <div class="content-summary">
                <p>
                    La globalización ha permitido que géneros musicales que surgieron en contextos locales alcancen audiencias globales. Esto ha llevado a una mayor diversidad musical y a la popularidad de géneros como el reggaetón y el K-pop fuera de sus regiones de origen.
            </div>
        </details>
    </main>

</body>
</html>