<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tematica | Generos Musicales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" />
</head>
<body>


    <header class="header container">
        <section class="content-header">
            <section class="text-header">
                <div class="etiqueta">
                    <p class="text-etiqueta">Cosas interesantes de cada genero</p>
                </div>
                <h1>Datos especificos de los generos musicales</h1>
                <p>Existen diversos datos fascinantes sobre los géneros musicales que vale la pena conocer. A continuación, te compartimos algunos de los aspectos más interesantes sobre los diferentes géneros musicales.</p>
            </section>

        </section>
    </header>

    <nav class="nav">
        <ul class="ul-nav">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/tematica.html">Tematica</a></li>
            <li><a href="../views/acerca.html">Acerca</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <main class="container details-section">
        <section class="title-sections">
            <h2>Datos especificos e interesantes de los distintos generos musicales</h2>
        </section>

        <details>
            <summary>Origen de los generos musicales</summary>
            <div class="content-summary">
                <p>
                    Los géneros musicales han surgido a lo largo de la historia en diferentes partes del mundo, evolucionando con
                    influencias culturales, tecnológicas y sociales. Cada género tiene un contexto histórico específico, desde el
                    jazz de principios del siglo XX en Nueva Orleans hasta el reggaetón que emergió en Puerto Rico en los años 90.
                </p>
            </div>
        </details>
        <details>
            <summary>Características de los generos musicales</summary>
            <div class="content-summary">
                <p>
                    Cada género musical se define por una combinación única de elementos como el ritmo, la melodía, la armonía, los instrumentos utilizados, y el tipo de letras. Por ejemplo, el rock es conocido por su uso de guitarras eléctricas y baterías, mientras que el jazz es famoso por la improvisación y complejas estructuras armónicas.
                </p>
            </div>
        </details>
        <details>
            <summary>Influencia Cultural</summary>
            <div class="content-summary">
                <p>
                    Los géneros musicales no solo representan estilos de música, sino que también han sido motores de movimientos sociales y culturales. El rock, por ejemplo, ha estado asociado con la contracultura de los años 60, mientras que el hip-hop ha sido una voz importante para la juventud urbana y las comunidades marginadas.
                </p>
            </div>
        </details>
        <details>
            <summary>Subgéneros y Fusión</summary>
            <div class="content-summary">
                <p>
                    A lo largo del tiempo, muchos géneros han dado lugar a subgéneros y fusiones. Esto refleja la naturaleza dinámica de la música, que constantemente se reinventa y mezcla diferentes influencias. Por ejemplo, el pop ha dado lugar a variantes como el electropop y el synth-pop, mientras que el rock ha generado subgéneros como el punk y el grunge.
                </p>
            </div>
        </details>
        <details>
            <summary>Impacto Global</summary>
            <div class="content-summary">
                <p>
                    La globalización ha permitido que géneros musicales que surgieron en contextos locales alcancen audiencias globales. Esto ha llevado a una mayor diversidad musical y a la popularidad de géneros como el reggaetón y el K-pop fuera de sus regiones de origen.
            </div>
        </details>
    </main>

</body>
</html>