<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tematica | Generos Musicales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" />
</head>
<body>

    <header class="header">
        <section class="content-header container">
            <section class="text-header">
                <div class="etiqueta">
                    <p class="text-etiqueta">Enterate mas acerca de los distintos generos</p>
                </div>
                <h1>¿Como surgen cada uno de los distntos generos?</h1>
                <p>Los distintos géneros musicales han surgido a lo largo de la historia como reflejo de la diversidad cultural y las experiencias humanas. A medida que las sociedades evolucionaban, la música se fue adaptando a nuevos contextos, influencias y tecnologías. Desde los cantos tribales hasta el jazz, el rock, el hip hop y la música electrónica, cada género ha nacido de la necesidad de expresar emociones, contar historias o unir comunidades. </p>
            </section>
        
        </section>
    </header>

    <nav class="nav">
        <ul class="ul-nav">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/tematica.html">Tematica</a></li>
            <li><a href="../views/acerca.html">Acerca</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <main class="container">
        <section class="title-sections">
            <h2>Origen de cada uno de los generos existentes</h2>
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Género Musical</th>
                        <th>Origen</th>
                        <th>Características</th>
                        <th>Artistas Representativos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pop</td>
                        <td>Estados Unidos, años 1950</td>
                        <td>Melodías pegajosas, estribillos repetitivos</td>
                        <td>Michael Jackson, Madonna</td>
                    </tr>
                    <tr>
                        <td>Rock</td>
                        <td>Estados Unidos, Reino Unido, años 1950</td>
                        <td>Guitarras eléctricas, batería potente</td>
                        <td>Queen, The Beatles</td>
                    </tr>
                    <tr>
                        <td>Hip-Hop</td>
                        <td>Estados Unidos, años 1970</td>
                        <td>Rimas habladas, ritmo urbano</td>
                        <td>Eminem, Tupac Shakur</td>
                    </tr>
                    <tr>
                        <td>Electronic</td>
                        <td>Europa, años 1970</td>
                        <td>Ritmos pulsantes, sintetizadores</td>
                        <td>Daft Punk, Kraftwerk</td>
                    </tr>
                    <tr>
                        <td>Jazz</td>
                        <td>Estados Unidos, principios del siglo XX</td>
                        <td>Improvisación, complejidad armónica</td>
                        <td>Louis Armstrong, Miles Davis</td>
                    </tr>
                    <tr>
                        <td>Classica</td>
                        <td>Europa, siglos XVII-XIX</td>
                        <td>Sinfonías, óperas, estructuras formales</td>
                        <td>Beethoven, Mozart</td>
                    </tr>
                    <tr>
                        <td>Reggae</td>
                        <td>Jamaica, años 1960</td>
                        <td>Ritmo relajado, mensajes de paz</td>
                        <td>Bob Marley, Peter Tosh</td>
                    </tr>
                    <tr>
                        <td>Blues</td>
                        <td>Estados Unidos, finales del siglo XIX</td>
                        <td>Expresión emocional, guitarra y voz prominentes</td>
                        <td>B.B. King, Muddy Waters</td>
                    </tr>
                    <tr>
                        <td>Reggaeton</td>
                        <td>Puerto Rico, años 1990</td>
                        <td>Ritmos bailables, letras urbanas</td>
                        <td>Daddy Yankee, Don Omar</td>
                    </tr>
                </tbody>
            </table>

        </section>


        

        <section class="title-sections exitos">
            <h2>Exito mas grande en cada uno de los generos</h2>
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Género Musical</th>
                        <th>Éxito Más Grande</th>
                        <th>Artista</th>
                        <th>Año de Lanzamiento</th>
                        <th>Canción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="header-table">
                        <td data-label="Género Musical">Rock</td>
                        <td data-label="Éxito Más Grande">"Stairway to Heaven"</td>
                        <td data-label="Artista">Led Zeppelin</td>
                        <td data-label="Año de Lanzamiento">1971</td>
                        <td class="cancion">
                            <audio controls="controls">
                                <source src="../assets/rock.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Rock</td>
                        <td data-label="Éxito Más Grande">"Stairway to Heaven"</td>
                        <td data-label="Artista">Led Zeppelin</td>
                        <td data-label="Año de Lanzamiento">1971</td>
                        <td data-label="Canción">
                            <audio controls="controls">
                                <source src="../assets/rock.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Rock</td>
                        <td data-label="Éxito Más Grande">"Stairway to Heaven"</td>
                        <td data-label="Artista">Led Zeppelin</td>
                        <td data-label="Año de Lanzamiento">1971</td>
                        <td data-label="Canción">
                            <audio controls="controls">
                                <source src="../assets/rock.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>

</body>
</html>