<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tematica | Generos Musicales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" />
</head>
<body>

    <header class="header">
        <section class="content-header container">
            <section class="text-header">
                <div class="etiqueta">
                    <p class="text-etiqueta">Enterate mas acerca de...</p>
                </div>
                <h1>¿Como surgen cada uno de los distntos generos?</h1>
                <p>Los distintos géneros musicales han surgido a lo largo de la historia como reflejo de la diversidad cultural y las experiencias humanas. A medida que las sociedades evolucionaban, la música se fue adaptando a nuevos contextos, influencias y tecnologías.  </p>
            </section>
        
        </section>
    </header>

    <nav class="nav">
        <ul class="ul-nav">
            <li><a href="../index.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.707 2.293l9 9c.63 .63 .184 1.707 -.707 1.707h-1v6a3 3 0 0 1 -3 3h-1v-7a3 3 0 0 0 -2.824 -2.995l-.176 -.005h-2a3 3 0 0 0 -3 3v7h-1a3 3 0 0 1 -3 -3v-6h-1c-.89 0 -1.337 -1.077 -.707 -1.707l9 -9a1 1 0 0 1 1.414 0m.293 11.707a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883 -.993l.117 -.007z" /></svg> Inicio</a>
            <li><a class="icon-active" href="../views/tematica.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class=" icon-active icon icon-tabler icons-tabler-filled icon-tabler-headphones"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M21 18a3 3 0 0 1 -2.824 2.995l-.176 .005h-1a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-3a3 3 0 0 1 2.824 -2.995l.176 -.005h1c.351 0 .688 .06 1 .171v-.171a7 7 0 0 0 -13.996 -.24l-.004 .24v.17c.25 -.088 .516 -.144 .791 -.163l.209 -.007h1a3 3 0 0 1 2.995 2.824l.005 .176v3a3 3 0 0 1 -2.824 2.995l-.176 .005h-1a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-6a9 9 0 0 1 17.996 -.265l.004 .265v6z" /></svg> Tematica</a></li>
            <li><a href="../views/acerca.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.088 4.82a10 10 0 0 1 9.412 .314a1 1 0 0 1 .493 .748l.007 .118v13a1 1 0 0 1 -1.5 .866a8 8 0 0 0 -8 0a1 1 0 0 1 -1 0a8 8 0 0 0 -7.733 -.148l-.327 .18l-.103 .044l-.049 .016l-.11 .026l-.061 .01l-.117 .006h-.042l-.11 -.012l-.077 -.014l-.108 -.032l-.126 -.056l-.095 -.056l-.089 -.067l-.06 -.056l-.073 -.082l-.064 -.089l-.022 -.036l-.032 -.06l-.044 -.103l-.016 -.049l-.026 -.11l-.01 -.061l-.004 -.049l-.002 -.068v-13a1 1 0 0 1 .5 -.866a10 10 0 0 1 9.412 -.314l.088 .044l.088 -.044z" /></svg> Acerca</a> </li>
            <li><a href="../views/contacto.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-mail-opened"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14.872 14.287l6.522 6.52a2.996 2.996 0 0 1 -2.218 1.188l-.176 .005h-14a2.995 2.995 0 0 1 -2.394 -1.191l6.521 -6.522l2.318 1.545l.116 .066a1 1 0 0 0 .878 0l.116 -.066l2.317 -1.545z" /><path d="M2 9.535l5.429 3.62l-5.429 5.43z" /><path d="M22 9.535v9.05l-5.43 -5.43z" /><path d="M12.44 2.102l.115 .066l8.444 5.629l-8.999 6l-9 -6l8.445 -5.63a1 1 0 0 1 .994 -.065z" /></svg> Contacto</a></li>
        </ul>
    </nav>

    <main class="container">
        <section class="title-sections">
            <h2>Origen de cada uno de los generos mencionados</h2>
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Género Musical</th>
                        <th>Origen</th>
                        <th>Características</th>
                        <th>Artistas Representativos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="header-table">
                        <td data-label="Género Musical">Pop</td>
                        <td data-label="Origen">Estados Unidos, años 1950</td>
                        <td data-label="Características">Melodías pegajosas, estribillos repetitivos</td>
                        <td data-label="Artistas Representativos">Michael Jackson, Madonna</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Rock</td>
                        <td data-label="Origen">Estados Unidos, Reino Unido, años 1950</td>
                        <td data-label="Características">Guitarras eléctricas, batería potente</td>
                        <td data-label="Artistas Representativos">Queen, The Beatles</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Hip-Hop</td>
                        <td data-label="Origen">Estados Unidos, años 1970</td>
                        <td data-label="Características">Rimas habladas, ritmo urbano</td>
                        <td data-label="Artistas Representativos">Eminem, Tupac Shakur</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Electronic</td>
                        <td data-label="Origen">Europa, años 1970</td>
                        <td data-label="Características">Ritmos pulsantes, sintetizadores</td>
                        <td data-label="Artistas Representativos">Daft Punk, Kraftwerk</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Jazz</td>
                        <td data-label="Origen">Estados Unidos, principios del siglo XX</td>
                        <td data-label="Características">Improvisación, complejidad armónica</td>
                        <td data-label="Artistas Representativos">Louis Armstrong, Miles Davis</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Clásica</td>
                        <td data-label="Origen">Europa, siglos XVII-XIX</td>
                        <td data-label="Características">Sinfonías, óperas, estructuras formales</td>
                        <td data-label="Artistas Representativos">Beethoven, Mozart</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Reggae</td>
                        <td data-label="Origen">Jamaica, años 1960</td>
                        <td data-label="Características">Ritmo relajado, mensajes de paz</td>
                        <td data-label="Artistas Representativos">Bob Marley, Peter Tosh</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Blues</td>
                        <td data-label="Origen">Estados Unidos, finales del siglo XIX</td>
                        <td data-label="Características">Expresión emocional, guitarra y voz prominentes</td>
                        <td data-label="Artistas Representativos">B.B. King, Muddy Waters</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Reggaetón</td>
                        <td data-label="Origen">Puerto Rico, años 1990</td>
                        <td data-label="Características">Ritmos bailables, letras urbanas</td>
                        <td data-label="Artistas Representativos">Daddy Yankee, Don Omar</td>
                    </tr>
                </tbody>
            </table>


        </section>


        

        <section class="title-sections exitos">
            <h2>Exitos mas grande en cada uno de los generos</h2>
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Género Musical</th>
                        <th>Éxito Más Grande</th>
                        <th>Artista</th>
                        <th>Año de Lanzamiento</th>
                        <th>Canción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="header-table">
                        <td data-label="Género Musical">Rock</td>
                        <td data-label="Éxito Más Grande">"Stairway to Heaven"</td>
                        <td data-label="Artista">Led Zeppelin</td>
                        <td data-label="Año de Lanzamiento">1971</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/rock.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Pop</td>
                        <td data-label="Éxito Más Grande">"Thriller"</td>
                        <td data-label="Artista">Michael Jackson</td>
                        <td data-label="Año de Lanzamiento">1982</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/pop.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Jazz</td>
                        <td data-label="Éxito Más Grande">"Take Five"</td>
                        <td data-label="Artista">Dave Brubeck Quartet</td>
                        <td data-label="Año de Lanzamiento">1959</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/jazz.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Hip-Hop</td>
                        <td data-label="Éxito Más Grande">"Juicy"</td>
                        <td data-label="Artista">The Notorious B.I.G.</td>
                        <td data-label="Año de Lanzamiento">1994</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/hiphop.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Reggae</td>
                        <td data-label="Éxito Más Grande">"No Woman, No Cry"</td>
                        <td data-label="Artista">Bob Marley</td>
                        <td data-label="Año de Lanzamiento">1974</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/reggae.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Blues</td>
                        <td data-label="Éxito Más Grande">"The Thrill Is Gone"</td>
                        <td data-label="Artista">B.B. King</td>
                        <td data-label="Año de Lanzamiento">1969</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/blues.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Electronic</td>
                        <td data-label="Éxito Más Grande">"One More Time"</td>
                        <td data-label="Artista">Daft Punk</td>
                        <td data-label="Año de Lanzamiento">2000</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/electronic.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Classical</td>
                        <td data-label="Éxito Más Grande">"Symphony No. 9"</td>
                        <td data-label="Artista">Ludwig van Beethoven</td>
                        <td data-label="Año de Lanzamiento">1824</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/classical.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Reggaetón</td>
                        <td data-label="Éxito Más Grande">"Gasolina"</td>
                        <td data-label="Artista">Daddy Yankee</td>
                        <td data-label="Año de Lanzamiento">2004</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/reggaeton.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>

</body>
</html>