<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tematica | Generos Musicales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" />
</head>
<body>

    <header class="header">
        <section class="content-header container">
            <section class="text-header">
                <div class="etiqueta">
                    <p class="text-etiqueta">Enterate mas acerca de los distintos generos</p>
                </div>
                <h1>¿Como surgen cada uno de los distntos generos?</h1>
                <p>Los distintos géneros musicales han surgido a lo largo de la historia como reflejo de la diversidad cultural y las experiencias humanas. A medida que las sociedades evolucionaban, la música se fue adaptando a nuevos contextos, influencias y tecnologías.  </p>
            </section>
        
        </section>
    </header>

    <nav class="nav">
        <ul class="ul-nav">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/tematica.html">Tematica</a></li>
            <li><a href="../views/acerca.html">Acerca</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <main class="container">
        <section class="title-sections">
            <h2>Origen de cada uno de los generos mencionados</h2>
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Género Musical</th>
                        <th>Origen</th>
                        <th>Características</th>
                        <th>Artistas Representativos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="header-table">
                        <td data-label="Género Musical">Pop</td>
                        <td data-label="Origen">Estados Unidos, años 1950</td>
                        <td data-label="Características">Melodías pegajosas, estribillos repetitivos</td>
                        <td data-label="Artistas Representativos">Michael Jackson, Madonna</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Rock</td>
                        <td data-label="Origen">Estados Unidos, Reino Unido, años 1950</td>
                        <td data-label="Características">Guitarras eléctricas, batería potente</td>
                        <td data-label="Artistas Representativos">Queen, The Beatles</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Hip-Hop</td>
                        <td data-label="Origen">Estados Unidos, años 1970</td>
                        <td data-label="Características">Rimas habladas, ritmo urbano</td>
                        <td data-label="Artistas Representativos">Eminem, Tupac Shakur</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Electronic</td>
                        <td data-label="Origen">Europa, años 1970</td>
                        <td data-label="Características">Ritmos pulsantes, sintetizadores</td>
                        <td data-label="Artistas Representativos">Daft Punk, Kraftwerk</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Jazz</td>
                        <td data-label="Origen">Estados Unidos, principios del siglo XX</td>
                        <td data-label="Características">Improvisación, complejidad armónica</td>
                        <td data-label="Artistas Representativos">Louis Armstrong, Miles Davis</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Clásica</td>
                        <td data-label="Origen">Europa, siglos XVII-XIX</td>
                        <td data-label="Características">Sinfonías, óperas, estructuras formales</td>
                        <td data-label="Artistas Representativos">Beethoven, Mozart</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Reggae</td>
                        <td data-label="Origen">Jamaica, años 1960</td>
                        <td data-label="Características">Ritmo relajado, mensajes de paz</td>
                        <td data-label="Artistas Representativos">Bob Marley, Peter Tosh</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Blues</td>
                        <td data-label="Origen">Estados Unidos, finales del siglo XIX</td>
                        <td data-label="Características">Expresión emocional, guitarra y voz prominentes</td>
                        <td data-label="Artistas Representativos">B.B. King, Muddy Waters</td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Reggaetón</td>
                        <td data-label="Origen">Puerto Rico, años 1990</td>
                        <td data-label="Características">Ritmos bailables, letras urbanas</td>
                        <td data-label="Artistas Representativos">Daddy Yankee, Don Omar</td>
                    </tr>
                </tbody>
            </table>


        </section>


        

        <section class="title-sections exitos">
            <h2>Exitos mas grande en cada uno de los generos</h2>
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Género Musical</th>
                        <th>Éxito Más Grande</th>
                        <th>Artista</th>
                        <th>Año de Lanzamiento</th>
                        <th>Canción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="header-table">
                        <td data-label="Género Musical">Rock</td>
                        <td data-label="Éxito Más Grande">"Stairway to Heaven"</td>
                        <td data-label="Artista">Led Zeppelin</td>
                        <td data-label="Año de Lanzamiento">1971</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/rock.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Pop</td>
                        <td data-label="Éxito Más Grande">"Thriller"</td>
                        <td data-label="Artista">Michael Jackson</td>
                        <td data-label="Año de Lanzamiento">1982</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/pop.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Jazz</td>
                        <td data-label="Éxito Más Grande">"Take Five"</td>
                        <td data-label="Artista">Dave Brubeck Quartet</td>
                        <td data-label="Año de Lanzamiento">1959</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/jazz.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Hip-Hop</td>
                        <td data-label="Éxito Más Grande">"Juicy"</td>
                        <td data-label="Artista">The Notorious B.I.G.</td>
                        <td data-label="Año de Lanzamiento">1994</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/hiphop.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Reggae</td>
                        <td data-label="Éxito Más Grande">"No Woman, No Cry"</td>
                        <td data-label="Artista">Bob Marley</td>
                        <td data-label="Año de Lanzamiento">1974</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/reggae.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Blues</td>
                        <td data-label="Éxito Más Grande">"The Thrill Is Gone"</td>
                        <td data-label="Artista">B.B. King</td>
                        <td data-label="Año de Lanzamiento">1969</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/blues.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Electronic</td>
                        <td data-label="Éxito Más Grande">"One More Time"</td>
                        <td data-label="Artista">Daft Punk</td>
                        <td data-label="Año de Lanzamiento">2000</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/electronic.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Classical</td>
                        <td data-label="Éxito Más Grande">"Symphony No. 9"</td>
                        <td data-label="Artista">Ludwig van Beethoven</td>
                        <td data-label="Año de Lanzamiento">1824</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/classical.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                    <tr class="header-table">
                        <td data-label="Género Musical">Reggaetón</td>
                        <td data-label="Éxito Más Grande">"Gasolina"</td>
                        <td data-label="Artista">Daddy Yankee</td>
                        <td data-label="Año de Lanzamiento">2004</td>
                        <td class="cancion">
                            <p class="audio-title">Canción</p>
                            <audio controls="controls">
                                <source src="../assets/reggaeton.mp3" type="audio/mp3" />
                            </audio>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>

</body>
</html>